<a href="https://colab.research.google.com/github/raditya-aisy/Data-Analysis/blob/main/Tugas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Notes :
```
#df_noid = df.iloc[:,2:]
#df_noid #menampilkan nilai keseluruhan
#df_noid.describe() #menampilkan nilai count, mean, min, max, Q1, Q2, Q3, dan std
#df_noid.describe(include='all') #menampilkan nilai count, mean, min, max, Q1, Q2, Q3, dan std
```


Kotretan 1
```
# import pandas as pd
import numpy as np

path = "/content/Tugas 1/epl-goalScorer(20-21).csv"
df = pd.read_csv(path)

# Menghitung total gol setiap pemain
total_gol_pemain = df.groupby('player_name')['goals'].sum()
# Mengurutkan pemain berdasarkan jumlah gol
pemain_terbanyak = total_gol_pemain.sort_values(ascending=False)
# Mengambil 10 pemain teratas
top_10_pemain = pemain_terbanyak.head(10)

print(top_10_pemain)
top_10_pemain.plot(kind='bar', figsize=(4, 4), color='skyblue')
```

In [ ]:
import pandas as pd
import numpy as np

path = "/content/Tugas 1/epl-goalScorer(20-21).csv"
df = pd.read_csv(path)

print(df.dtypes)
df_noid = df.iloc[:,2:]
df_noid #menampilkan nilai keseluruhan

Unnamed: 0        int64
id                int64
player_name      object
games             int64
time              int64
goals             int64
xG              float64
assists           int64
xA              float64
shots             int64
key_passes        int64
yellow_cards      int64
red_cards         int64
position         object
team_title       object
npg               int64
npxG            float64
xGChain         float64
xGBuildup       float64
dtype: object

,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,Jaden Philogene-Bidace,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Aston Villa,0,0.000000,0.056044,0.056044
518,Gaetano Berardi,2,113,0,0.074761,0,0.000000,1,0,0,0,D S,Leeds,0,0.074761,0.231278,0.231278
519,Anthony Elanga,1,67,0,0.000000,0,0.000000,0,0,0,0,M,Manchester United,0,0.000000,0.000000,0.000000
520,Femi Seriki,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Sheffield United,0,0.000000,0.000000,0.000000
521,Tyrese Francois,1,13,0,0.000000,0,0.000000,0,0,0,0,S,Fulham,0,0.000000,0.000000,0.000000

In [97]:
import pandas as pd
import numpy as np
from tabulate import tabulate

path = "/content/Tugas 1/epl-goalScorer(20-21).csv"
df = pd.read_csv(path)

#Tugas No. 1, 2, dan 3
# Menghitung total gol setiap pemain
total_gol_pemain = df.groupby('player_name')['goals'].sum()

# Menghitung durasi terlama setiap pemain
durasi_terlama_pemain = df.groupby('player_name')['time'].max()

# Menghitung total asis setiap pemain
total_asis_pemain = df.groupby('player_name')['assists'].sum()

# Menggabungkan data menjadi satu DataFrame
gabungan_data = pd.DataFrame({
    'total_gol': total_gol_pemain,
    'durasi_terlama': durasi_terlama_pemain,
    'total_asis': total_asis_pemain
})

# Mengurutkan pemain berdasarkan jumlah gol
pemain_terbanyak = total_gol_pemain.sort_values(ascending=False)
top_10_pemain = pemain_terbanyak.head(10)

# Mengurutkan pemain berdasarkan durasi terlama
durasi_terbanyak = total_durasi_pemain.sort_values(ascending=False)
top_10_durasi = durasi_terbanyak.head(10)

# Mengurutkan pemain berdasarkan jumlah gol
assists_terbanyak = total_assists_pemain.sort_values(ascending=False)
top_10_assists = assists_terbanyak.head(10)

# Menampilkan tabel menggunakan tabulate
print("No. 1 Pemain Gol Terbanyak : ")
tabel_pemain = pd.DataFrame({'Nama Pemain': top_10_pemain.index, 'Total Gol': top_10_pemain.values})
print(tabulate(tabel_pemain, headers='keys', tablefmt='psql'))

print("\n")
print("No. 2 Pemain Durasi Terlama : ")
tabel_durasi = pd.DataFrame({'Nama Pemain': top_10_durasi.index, 'Total Durasi': top_10_durasi.values})
print(tabulate(tabel_durasi, headers='keys', tablefmt='psql'))

print("\n")
print("No. 3 Pemain Assists Terbanyak : ")
tabel_assists = pd.DataFrame({'Nama Pemain': top_10_assists.index, 'Total Durasi': top_10_assists.values})
print(tabulate(tabel_assists, headers='keys', tablefmt='psql'))

#Tugas No. 4
# Filter data
mc_df = df[df['team_title'] == 'Manchester City']

# Menghitung total gol setiap pemain di Manchester City
total_gol_mc = mc_df.groupby('player_name')['goals'].sum()
pemain_terbanyak_mc = total_gol_mc.sort_values(ascending=False)

# Mengambil 4 pemain teratas
top_4_pemain_mc = pemain_terbanyak_mc.head(4)

print("\n")
print("No. 4 Pemain Machester City dengan Gol Terbanyak : ")
tabel_pemain_mc = pd.DataFrame({'Nama Pemain': top_4_pemain_mc.index, 'Total Gol': top_4_pemain_mc.values})
print(tabulate(tabel_pemain_mc, headers='keys', tablefmt='psql', showindex=False))


#Tugas No. 5 dan 8
# Menghitung total gol setiap kesebelasan
total_gol_tim = df.groupby('team_title')['goals'].sum()

# Mengurutkan kesebelasan berdasarkan jumlah gol
tim_terbanyak = total_gol_tim.sort_values(ascending=False)
tim_gol_terbanyak = tim_terbanyak.head(5)

print("\n")
print("No. 5 dan 8 Kesebelasan dengan Gol Terbanyak : ")
tabel_tim = pd.DataFrame({'Nama tim': tim_gol_terbanyak.index, 'Total Gol': tim_gol_terbanyak.values})
print(tabulate(tabel_tim, headers='keys', tablefmt='psql', showindex=False))

#Tugas No. 6
# Mencari pembuat assist terbanyak
assist_terbanyak = df['player_name'].loc[df['assists'].idxmax()]
data_assist_terbanyak = df[df['player_name'] == assist_terbanyak]

# Menghitung jumlah kartu kuning dan merah
jumlah_kartu_kuning = data_assist_terbanyak['yellow_cards'].sum()
jumlah_kartu_merah = data_assist_terbanyak['red_cards'].sum()

print("\n")
print("No. 6")
print("Jumlah kartu kuning yang diterima oleh pembuat assist terbanyak:", jumlah_kartu_kuning)
print("Jumlah kartu merah yang diterima oleh pembuat assist terbanyak:", jumlah_kartu_merah)

#Tugas No. 7
# Hitung total gol dan assist untuk setiap pemain
total_gol_assist_pemain = df.groupby('player_name')[['goals', 'assists']].sum()

# Identifikasi pemain dengan jumlah gol dan assist terbanyak
pemain_terbanyak = total_gol_assist_pemain.sum(axis=1).idxmax()
total_gol_assist_terbanyak = total_gol_assist_pemain.loc[pemain_terbanyak]

# Temukan kesebelasan dari pemain tersebut
kesebelasan_pemain_terbanyak = df[df['player_name'] == pemain_terbanyak]['team_title'].iloc[0]

print("\n")
print("No. 7")
print("Pemain dengan jumlah gol dan assist paling banyak:")
print("Nama Pemain:", pemain_terbanyak)
print("Jumlah Gol:", total_gol_assist_terbanyak['goals'])
print("Jumlah Assist:", total_gol_assist_terbanyak['assists'])
print("Kesebelasan:", kesebelasan_pemain_terbanyak)

print("\n")
print("No. 8 (Sudah di No. 5)")

#Tugas No. 9
# Filter data untuk pemain yang tidak mendapatkan kartu kuning atau merah
df_no_cards = df[(df['yellow_cards'] == 0) & (df['red_cards'] == 0)]

# Mengurutkan pemain berdasarkan jumlah gol terbanyak
pemain_terbanyak_no_cards = df_no_cards.sort_values(by='goals', ascending=False)

print("\n")
print("No. 9")
print("Pemain dengan jumlah gol terbanyak tanpa mendapatkan kartu kuning atau merah:")
print(pemain_terbanyak_no_cards[['player_name', 'goals']])

No. 1 Pemain Gol Terbanyak :
+----+-----------------------+-------------+
|    | Nama Pemain           |   Total Gol |
|----+-----------------------+-------------|
|  0 | Harry Kane            |          23 |
|  1 | Mohamed Salah         |          22 |
|  2 | Bruno Fernandes       |          18 |
|  3 | Patrick Bamford       |          17 |
|  4 | Son Heung-Min         |          17 |
|  5 | Dominic Calvert-Lewin |          16 |
|  6 | Jamie Vardy           |          15 |
|  7 | Ollie Watkins         |          14 |
|  8 | Alexandre Lacazette   |          13 |
|  9 | Ilkay Gündogan        |          13 |
+----+-----------------------+-------------+


No. 2 Pemain Durasi Terlama :
+----+-----------------------+----------------+
|    | Nama Pemain           |   Total Durasi |
|----+-----------------------+----------------|
|  0 | Hugo Lloris           |           3420 |
|  1 | Emiliano Martinez     |           3420 |
|  2 | Kasper Schmeichel     |           3420 |
|  3 | Pierre-Emile Højbjerg |           3420 |
|  4 | Stuart Dallas         |           3412 |
|  5 | Matt Targett          |           3407 |
|  6 | Luke Ayling           |           3400 |
|  7 | Andrew Robertson      |           3391 |
|  8 | Youri Tielemans       |           3359 |
|  9 | James Ward-Prowse     |           3330 |
+----+-----------------------+----------------+


No. 3 Pemain Assists Terbanyak :
+----+-----------------+----------------+
|    | Nama Pemain     |   Total Durasi |
|----+-----------------+----------------|
|  0 | Harry Kane      |             14 |
|  1 | Bruno Fernandes |             12 |
|  2 | Kevin De Bruyne |             11 |
|  3 | Son Heung-Min   |             10 |
|  4 | Jack Grealish   |             10 |
|  5 | Raphinha        |              9 |
|  6 | Jamie Vardy     |              9 |
|  7 | Marcus Rashford |              9 |
|  8 | Aaron Cresswell |              8 |
|  9 | Jack Harrison   |              8 |
+----+-----------------+----------------+


No. 4 Pemain Machester City dengan Gol Terbanyak :
+-----------------+-------------+
| Nama Pemain     |   Total Gol |
|-----------------+-------------|
| Ilkay Gündogan  |          13 |
| Raheem Sterling |          10 |
| Riyad Mahrez    |           9 |
| Gabriel Jesus   |           8 |
+-----------------+-------------+


No. 5 dan 8 Kesebelasan dengan Gol Terbanyak :
+-------------------+-------------+
| Nama tim          |   Total Gol |
|-------------------+-------------|
| Manchester City   |          77 |
| Manchester United |          68 |
| Tottenham         |          66 |
| Liverpool         |          64 |
| Leicester         |          64 |
+-------------------+-------------+


No. 6
Jumlah kartu kuning yang diterima oleh pembuat assist terbanyak: 1
Jumlah kartu merah yang diterima oleh pembuat assist terbanyak: 0


No. 7
Pemain dengan jumlah gol dan assist paling banyak:
Nama Pemain: Harry Kane
Jumlah Gol: 23
Jumlah Assist: 14
Kesebelasan: Tottenham


No. 8 (Sudah di No. 5)


No. 9
Pemain dengan jumlah gol terbanyak tanpa mendapatkan kartu kuning atau merah:
         player_name  goals
1      Mohamed Salah     22
3      Son Heung-Min     17
13        Chris Wood     12
28      Riyad Mahrez      9
29     Harvey Barnes      9
..               ...    ...
353      Lys Mousset      0
343    Islam Slimani      0
341       Moise Kean      0
340          Emerson      0
521  Tyrese Francois      0

[164 rows x 2 columns]